# Apple Desktop Services Store
#
.DS_Store
To_do_lijst.xlsx
# Credentials and caching
credentials.py
__pycache__

## .ipyn stuff and testscripts
.ipynb_checkpoints/
testscriptsjan/

## Data files
age_data/
Vertaling_wijken/


